interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://roundtable.lsst.codes/segwarides/
  response:
    body:
      string: '{"_metadata": {"name": "segwarides", "version": "0.4.1", "description":
        "A simple app to serve credentials to other services.", "repository_url":
        "https://github.com/lsst-sqre/segwarides", "documentation_url": "https://github.com/lsst-sqre/segwarides"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://roundtable.lsst.codes/segwarides/creds/test_efd
  response:
    body:
      string: '{"host": "foo.bar.baz.net", "username": "foo", "password": "bar"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
